<section id="features-slider" class="ss-slider">

  <% @projects.each do |project| %>

    <article class="slide">

      <%= image_tag project.slide_image.url, class: "slide-bg-image" %>

      <div class="slide-button">
        <span class="dropcap">1</span>
        <h5><%= project.title %></h5>
        <span class="description"><%= project.subtitle %></span>
      </div>

      <div class="slide-content">
        <h2><%= project.title %></h2>
        <%= project.description %>
        <p><%= link_to "Περισσότερες πληροφορίες", project, class: "button" %></p>
      </div>

    </article>

  <% end %>

</section>