<section id="features-slider" class="ss-slider">

  <% @projects.each do |project| %>

    <article class="slide">

      <%= image_tag project.slide_image.url, class: "slide-bg-image" %>

      <div class="slide-button">

        <h5><%= project.title %></h5>
        <span class="description"><%= project.subtitle %></span>
      </div>

      <div class="slide-content">
        <h2><%= project.title %></h2>
        <%= markdown(project.description) %>
        <p><%= link_to 'Περισσότερα ›', project, class: "button" %></p>
      </div>

    </article>

  <% end %>

</section>