<header id="header" class="container clearfix">

  <%= link_to root_path, id: "logo", title: 'Αρχική σελίδα' do %>
    <%= image_tag 'logo.png', alt: 'bathliving' %>
  <% end %>

  <nav id="main-nav">
    <ul>
      <li class="current">
        <%= link_to 'Αρχικη', root_path %>
      </li>

      <li>
        <%= link_to 'Προϊοντα', products_path %>
      </li>

      <li>
        <%= link_to 'Blog', posts_path %>
        <ul>
          <li><a href="single-post.html">Single Post</a></li>
        </ul>
      </li>

      <li>
        <a href="portfolio-4-columns.html">Συνθέσεις</a>
      </li>

      <li>
        <a href="contact-us.html">Επικοινωνια</a>
      </li>

    </ul>
  </nav>
</header>