<article class="single-project">

  <header class="page-header">

    <h1 class="page-title align-left">Projects</h1>

    <%= link_to projects_path, class: "button no-bg medium align-right" do %>
      Όλα τα projects <%= image_tag 'icon-grid.png', class: "icon" %>
    <% end %>

    <hr />

    <h2 class="project-title">
      <%= @project.title %>
    </h2>

    <ul class="portfolio-pagination">

      <li class="prev">
        <%= link_to @previous_project, class: "button medium no-bg" do %>
          <span class="arrow left">&raquo;</span> Προηγούμενο
        <% end %>
      </li>

      <li class="next">
        <%= link_to @next_project, class: "button medium no-bg" do %>
          Επόμενο <span class="arrow">&raquo;</span>
        <% end %>
      </li>

    </ul>

  </header>

  <div id="main">
    <div class="image-gallery-slider">

      <ul>
        <% @project.images.each do |image| %>
          <li>
            <%= image_tag image.file.url %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>

  <div id="sidebar">

    <h4>Περιγραφή</h4>

    <%= markdown(@project.description) %>

  </div>

</article>
