<article class="entry clearfix">

  <%= link_to post do %>
    <%= image_tag post.image.url, class: "entry-image" %>
  <% end %>

  <div class="entry-body">
    <%= link_to post do %>
      <h1 class="title">
        <%= post.title %>
      </h1>
    <% end %>

    <% # TODO: Limit text to some words %>
    <%= markdown(post.body) %>
  </div>

  <div class="entry-meta">
    <ul>

      <li>
        <%= link_to post do %>
          <span class="post-format ">Permalink</span>
        <% end %>
      </li>

      <li>
        <em><%= post.publish_date.to_formatted_s(:short) %></em>
      </li>

    </ul>
  </div>

</article>