<article class="one-fourth" data-categories="<%= product.category.title %>">

  <%= link_to product do %>
    <%= image_tag product.images.first.file.url(:thumb) %>

    <div class="project-meta">
      <h5 class="title">
        <%= product.title %>
      </h5>

      <span class="categories">
        <%= product.category.title %>
      </span>
    </div>
  <% end %>

</article>