<header id="header" class="container clearfix">

  <%= link_to root_path, id: "logo", title: 'Αρχική σελίδα' do %>
    <%= image_tag 'logo.png', alt: 'bathliving' %>
  <% end %>

  <nav id="main-nav">

    <ul>
      <li <%= current :main, :home %>>
        <%= link_to 'Αρχικη', root_path %>
      </li>

      <li <%= current :products %>>
        <%= link_to 'Προϊοντα', products_path %>
      </li>

      <li <%= current :projects %>>
        <%= link_to 'Projects', projects_path %>
      </li>

      <li <%= current :posts %>>
        <%= link_to 'Blog', posts_path %>
      </li>

      <li <%= current :contact_forms %>>
        <%= link_to 'Επικοινωνια', contact_path %>
      </li>

    </ul>

  </nav>

</header>