<header id="header" class="container clearfix">

  <%= link_to root_path, id: "logo", title: 'Αρχική σελίδα' do %>
    <%= image_tag 'logo.png', alt: 'bathliving' %>
  <% end %>

  <nav id="main-nav">

    <ul>
      <li <%= current_controller('main') %>>
        <%= link_to 'Αρχικη', root_path %>
      </li>

      <li <%= current_controller('products') %>>
        <%= link_to 'Προϊοντα', products_path %>
      </li>

      <li <%= current_controller('projects') %>>
        <%= link_to 'Projects', projects_path %>
      </li>

      <li <%= current_controller('posts') %>>
        <%= link_to 'Blog', posts_path %>
      </li>

      <li>
        <%= link_to 'Επικοινωνια', contact_path %>
      </li>

    </ul>

  </nav>

</header>